* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
:root {
  --black-bg: #24303c;
  --black-color: #1a2328;
  --lightblue: #81c8ce;
}

body {
  background-color: var(--black-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guider {
  color: var(--lightblue);
  margin: 20px 0;
  width: 245px;
  background: var(--black-color);
  text-align: center;
  padding: 7.5px;
  border-radius: 10px;
}
.guider h2 {
  font-weight: 300;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.board .row .box {
  width: 75px;
  height: 75px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  /* transition: 0.3s; */
  background-color: var(--black-color);
  display: grid;
  place-items: center;
}
.board .row .box.hover {
  box-shadow: 0 0 2px var(--lightblue);
}
.board .row .box:empty {
  box-shadow: 0 0 2px var(--lightblue);
}
.board .row .box .c {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 5px solid var(--lightblue);
}
.board .row .box .x {
  height: 40px;
  width: 5px;
  background-color: black;
  transform: rotate(45deg);
  background: var(--lightblue);
}
.board .row .box .opacity {
  opacity: 0.5;
}
.board .row .box .x:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 5px;
  background: var(--lightblue);
  transform: rotate(-90deg);
}
.time {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background: var(--black-color);
}
.time .time-left {
  height: 100%;
  background: var(--lightblue);
  animation: time 10s linear infinite;
}
@keyframes time {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 0;
  }
}
a {
  display: none;
  margin-top: 20px;
  height: 40px;
  width: 200px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background: var(--black-color);
  border: 1px solid var(--lightblue);
  color: var(--lightblue);
  cursor: pointer;
  box-shadow: 0 0 6px var(--lightblue);
  transition: 0.3s;
}
a:hover {
  box-shadow: 0 0 12px var(--lightblue);
}
